{{!< default}}

<main id="post-page" class="page-wrap full-width" role="main">
    {{! Everything inside the #post tags pulls data from the post }}
    <article class="{{post_class}}">
    {{#post}}
         {{#contentFor "metaTags"}} 
            <meta property="article:author" content="{{author.name}}">
        {{/contentFor}}

        <div>    
            <header class="post-header">
                {{#if image}}
                	<img src="{{image}}" alt="{{{title}}}" />
                {{/if}}
                
                <h2 class="post-title">
                    <a href="{{url}}"><span>{{{title}}}</span></a>
                </h2>
            </header>

            <section class="post-content">
                {{content}}
            </section>

            <footer class="post-footer">
			    <section class="share">
		            <h4>Share this page</h4>
		            <a class="icon-twitter" href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}"
		                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
		                <span class="hidden">Twitter</span>
		            </a>
		            <a class="icon-fb" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
		                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
		                <span class="hidden">Facebook</span>
		            </a>
		            <a class="icon-gplus" href="https://plus.google.com/share?url={{url absolute="true"}}"
		               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
		                <span class="hidden">Google+</span>
		            </a>
		        </section>
            </footer>
        </div>
    {{/post}}
    </article>
</main>