<table id="manageContributorsTable" class="table responsive-table responsive-table-xxs">
    <thead>
        <tr>
            <th class="responsive-table-hide"> Name </th>
            <th></th>
            <th>
                Permissions
                <i class="fa fa-question-circle permission-info"
                    data-toggle="popover"
                    data-title="Permission Information"
                    data-container="body"
                    data-placement="right"
                    data-html="true"
                ></i>
            </th>
            <th class="biblio-contrib">
                Bibliographic Contributor
                <i class="fa fa-question-circle visibility-info"
                    data-toggle="popover"
                    data-title="Bibliographic Contributor Information"
                    data-container="body"
                    data-placement="right"
                    data-html="true"
                ></i>
            </th>
            <th class="remove"></th>
        </tr>
    </thead>
    <tbody>
        {{#each contributors as |contributor|}}
            <tr id={{contributor.id}}>
                <td>
                    <span class="fa fa-bars sortable-bars"></span>
                    <img class="m-l-xs" src={{concat contributor.users.links.profile_image '&s=40'}}>
                    {{#if contributor.unregisteredContributor}}
                        {{contributor.unregisteredContributor}}
                    {{else}}
                        <a href={{contributor.users.links.html}}> {{contributor.users.fullName}} </a>
                    {{/if}}
                </td>
                <td> </td>
                <td class="permissions">
                    {{#if canEdit}}
                        <select style='font-weight:bold' class='form-control input-sm' onchange={{action (action 'permissionChange' contributor contributors) value='target.value'}}>
                            <option value='read' selected={{eq contributor.permission 'read'}}> Read</option>
                            <option value='write' selected={{eq contributor.permission 'write'}}> Read + Write</option>
                            <option value='admin' selected={{eq contributor.permission 'admin'}}> Administrator</option>
                        </select>
                    {{else}}
                        {{permissionMap contributor.permission}}
                    {{/if}}
                </td>
                <td class="bibliographic">
                    <input disabled={{if canEdit false true}} onchange={{action (action 'bibliographicChange' contributor contributors) value='target.checked'}} checked={{eq contributor.bibliographic true}} type="checkbox" name="bibliographic">

                </td>
                <td>
                    {{#if (or canEdit (canRemoveContributor contributor currentUser isRegistration))}}
                        <button {{action 'toggleRemoveContributorModal' contributor}} class="btn btn-danger btn-sm m-l-md">
                            Remove
                        </button>

                        {{modal-remove-contribs isOpen=showModalRemoveContributors node=node canRemoveNode=canRemoveContributor pageChanged=changed contributors=contributors}}
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>

<div class="m-b-sm">
    {{#if isAdmin}}
        {{#if changed}}
            <a {{action 'cancel'}} class="btn btn-danger contrib-button">Discard Changes</a>
        {{/if}}
        {{#if canSubmit}}
            <a {{action 'updateContributors'}} class="btn btn-success contrib-button">Save Changes</a>
        {{/if}}
    {{/if}}
</div>
<div>
    <p class='text-danger'>
        {{#unless hasMinAdmins}}
            Must have at least one registered admin contributor <br>
        {{/unless}}

        {{#unless hasMinBibliographic}}
            Must have at least one bibliographic contributor
        {{/unless}}
    </p>
</div>
