<table id="manageContributorsTable" class="table responsive-table responsive-table-xxs">
    <thead>
        <tr>
            <th class="responsive-table-hide"> Name </th>
            <th></th>
            <th>
                Permissions
                <i class="fa fa-question-circle permission-info"
                    data-toggle="popover"
                    data-title="Permission Information"
                    data-container="body"
                    data-placement="right"
                    data-html="true"
                ></i>
            </th>
            <th class="biblio-contrib">
                Bibliographic Contributor
                <i class="fa fa-question-circle visibility-info"
                    data-toggle="popover"
                    data-title="Bibliographic Contributor Information"
                    data-container="body"
                    data-placement="right"
                    data-html="true"
                ></i>
            </th>
            <th class="remove"></th>
        </tr>
    </thead>
    <tbody >
        {{#each contributors as |contributor|}}
            <tr>
                <td>
                    <span class="fa fa-bars sortable-bars"></span>
                    <img class="m-l-xs" src={{concat contributor.users.links.profile_image '&s=40'}}>
                    <a href={{contributor.users.links.html}}> {{if contributor.unregisteredContributor contributor.unregisteredContributor contributor.users.fullName}} </a>
                </td>
                <td> </td>
                <td class="permissions">
                    <select class='form-control input-sm' onchange={{action (action 'permissionChange' contributor) value='target.value'}}>
                        <option value='read' selected={{eq contributor.permission 'read'}}> Read</option>
                        <option value='write' selected={{eq contributor.permission 'write'}}> Read + Write</option>
                        <option value='admin' selected={{eq contributor.permission 'admin'}}> Administrator</option>
                    </select>
                </td>
                <td>
                    <input onchange={{action (action 'bibliographicChange' contributor) value='target.checked'}} checked={{eq contributor.bibliographic true}} type="checkbox" name="bibliographic">
                </td>
                <td> <button class="btn btn-danger to-top-element">Remove</button> </td>
            </tr>
        {{/each}}
    </tbody>
</table>
