{{osf-navbar}}
<div id="main" class="container-fluid">
    <div class="row">
        <div class="col-md-12" role="main">
            {{outlet}}
        </div>
    </div>
</div>
{{osf-footer}}
{{osf-copyright}}
{{osf-mode-footer}}
