<br>
<br>
<br>
<br>
{{eosf-project-nav node=model.node showContributorsTab=true}}
<div class="container container-xxl">
    <div class='row'>
        <div class='col-sm-5'>
            <h2 class="break-word">
                {{model.file.name}}
                <a class="scripted" style="display: inline;">(Version: {{activeVersion}})</a>
            </h2>
        </div>
        <div class='col-sm-7'>
            {{#unless canEdit}}
                <p class='bg-warning'>
                    This file is checked out by a
                    {{link-to 'collaborator' 'users.detail' model.file.checkout}}.
                </p>
            {{/unless}}
            <div class='pull-right'>
                {{#if (and canEdit (eq activeVersion defaultVersion.id))}}
                    {{#if canCheckIn}}
                        <button {{action 'checkIn'}} class='btn btn-sm btn-warning'>
                            Check in
                        </button>
                    {{else}}
                        <button {{action 'delete'}} class='btn btn-sm btn-danger'>
                            Delete
                        </button>
                        <button {{action 'checkOut'}} class='btn btn-sm btn-warning'>
                            Check out
                        </button>
                    {{/if}}

                {{/if}}
                <button {{action 'download' versionID=activeVersion}} class='btn btn-sm btn-primary'>
                    Download
                </button>
                {{link-to 'View' 'file-detail.index' class='btn btn-sm btn-primary'}}
                {{#if (and canEdit (eq activeVersion defaultVersion.id))}}
                    {{link-to 'Edit' 'file-detail.edit' class='btn btn-sm btn-primary'}}
                {{/if}}
                {{link-to 'Revisions' 'file-detail.revisions' class='btn btn-sm btn-primary'}}
            </div>
        </div>
    </div>
    <hr>
    <div class='row'>
        <div class='col-md-3'>
            {{file-browser rootItem=model.node
            selectedFile=model.file
            openFile=(action 'fileDetail')
            openNode=(action 'nodeDetail')
            }}
            <div>
                <p><label> Tags </label></p>
                {{tags-widget addATag=(action 'addATag') removeATag=(action 'removeATag') tags=model.file.tags}}
            </div>
        </div>
        <div class='col-md-9'>
            {{outlet}}
        </div>
    </div>

    <div class="row">
        {{comment-pane
        comments=comments
        addComment=(action 'addComment')
        editComment=(action 'editComment')
        deleteComment=(action 'deleteComment')
        restoreComment=(action 'restoreComment')
        reportComment=(action 'reportComment')}}
    </div>
</div>
