{{#bs-modal open=isOpen body=false header=false footer=false}}
    {{#bs-modal-header}}
        <h3 class="modal-title">{{node.title}}</h3>
    {{/bs-modal-header}}


    {{!-- TODO: Reset modal when it closes via any means, for next time viewed --}}
    {{#bs-modal-body}}
        {{!-- TODO: break widget pages into separate components, but first, just translate over the OSF code --}}
        {{!-- Whom to add --}}
        {{#if (eq page 'whom')}}
            {{!-- Find contributors --}}
            <form class='form' {{action 'searchPeople' on='submit'}}>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group m-b-sm">
                            {{input value=_searchText class='form-control' placeholder='Search by name' autofocus=true}}
                            <span class="input-group-btn">
                                <input type="submit" value="Search" class="btn btn-default">
                            </span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row search-contributor-links">
                    <div class="col-md-12">
                        <div>
                            {{#if canViewParent}}
                                <button {{action 'importContribsFromParent'}} class="f-w-lg btn-link">Import contributors from {{node.parent.title}}</button>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </form>


            {{!-- Choose which to add --}}
            <div class="row">

                <div class="col-md-6">
                    <div>
                        <span class="modal-subheader">Results</span>
                        {{#if showAddAll}} {{!-- TODO: implement --}}
                            <button {{action 'addAllContributors'}} class="btn-link">Add all</button>
                        {{/if}}
                    </div>
                    {{!-- Note: Removed "notifications" block because it seemed to be no longer used in staticjs code. TODO: Verify this is correct --}}

                    {{!-- Intent: Only show search results if done loading and results were found --}}
                    {{#if (and usersFound (not isLoading))}}
                        {{#if usersFound.length}}
                            <table class="table-condensed">
                                <tbody>
                                {{!-- TODO: better name, not yet selected? --}}
                                    {{#each contribsNotYetAdded as |person|}}
                                        {{!-- TODO: Identify mechanism for detecting whether this person is already on the project --}}
                                        <tr>
                                            <td class="p-r-sm osf-icon-td" >
                                                {{#unless person.isContributor}}
                                                    {{!-- TODO: Add arguments to actions --}}
                                                    <button {{action 'addOneContributor' person}}
                                                            class="btn btn-success contrib-button btn-mini"
                                                            title="Add contributor">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                {{else}}
                                                    <div class="btn btn-default contrib-button btn-mini disabled" title="Already added">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                {{/unless}}
                                            </td>
                                            <td>
                                                {{!-- height and width are explicitly specified for faster rendering --}}
                                                <img src="{{person.profileImage}}" height=35 width=35>
                                            </td>
                                            <td width="75%">
                                                <a href="{{person.profileURL}}" target="_blank">
                                                    {{person.fullName}}
                                                </a>
                                                <br>

                                                {{!-- TODO: Identify datasource for these fields in API response and add to model as appropriate --}}
                                                {{!--
                                                <span data-bind="if: contributor.employment">
                                                    <span class='small'
                                                        data-bind="text: contributor.employment">
                                                    </span><br>
                                                </span>
                                                <span data-bind="if: contributor.education">
                                                    <span
                                                        class='small'
                                                        data-bind="text: contributor.education">
                                                    </span><br>
                                                </span>

                                                <span class='small'
                                                      data-bind="text: contributor.displayProjectsInCommon">
                                                </span>
                                                <span class='text-muted' data-bind="visible: !contributor.registered">(unregistered)</span>
                                                --}}
                                            </td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>

                            {{!-- TODO: Support paginated result fetching widget. Moved from help-block style to here? --}}
                            {{!-- <ul class="pagination pagination-sm" data-bind="foreach: paginators">
                                <li data-bind="css: style"><a href="#" data-bind="click: handler, text: text"></a></li>
                            </ul> --}}

                            {{!-- TODO: Restore this when unregistered contributors are implemented in the API
                            <p>
                                <button {{action 'selectPage' 'invite'}} class="btn-link">Add <strong><em>{{_searchText}}</em></strong> as an unregistered contributor</button>.
                            </p>
                            --}}
                        {{else}}
                            No results found.
                        {{!-- TODO: Restore text below when unreg contribs implemented in the API
                            Try a more specific search or
                            <button {{action 'selectPage' 'invite'}} class="btn-link">add <strong><em>{{_searchText}}</em></strong> as an unregistered contributor</button>.
                            --}}
                        {{/if}}
                    {{/if}}

                    {{#if isLoading}}
                        <div class='help-block'>
                            <p class="text-muted">Searching contributors...</p>
                        </div>
                    {{/if}}
                </div>{{!-- ./col-md --}}

                <div class="col-md-6">
                    <div>
                        <span class="modal-subheader">Adding</span>
                        {{#if contribsToAdd}}
                            <button class="btn-link" {{action 'removeAllContributors'}}>Remove all</button>
                        {{/if}}
                    </div>

                    {{!-- TODO: Consolidate markup./ conditionals with above --}}
                    {{#if contribsToAdd}}
                        <table class="table-condensed">
                            <thead>
                                <tr>
                                    <th width="10%"></th>
                                    <th width="15%"></th>
                                    <th>Name</th>
                                    <th>
                                        Permissions
                                        {{!-- TODO: Language constants; permission info maps to a string added to anything with the style. --}}
                                        <i class="fa fa-question-circle permission-info"
                                                data-toggle="popover"
                                                title="Permission Information"
                                                data-container="#addContributors"
                                                data-html="true"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each contribsToAdd as |person|}}
                                    <tr>
                                        <td class="p-r-sm osf-icon-td">
                                            <button class="btn btn-default contrib-button btn-mini" {{action 'removeOneContributor' person}} title="Remove contributor">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </td>
                                        <td>
                                            {{!-- height and width are explicitly specified for faster rendering --}}
                                            {{!-- TODO: Support a placeholder icon for unregistered contributors : /static/img/unreg_gravatar.png --}}
                                            <img src="{{person.profileImage}}" height=35 width=35>
                                        </td>

                                        <td>
                                            {{person.fullName}}
                                            {{!-- <span class='text-muted' data-bind="visible: !contributor.registered">(unregistered)</span> --}}
                                        </td>

                                        <td>
                                            <select class="form-control input-sm" onchange={{action (mut person.selectedPermissions) value='target.value'}}>
                                                {{#each permissionOptions as |option|}}
                                                    <option selected={{eq option.value person.selectedPermissions}} value={{option.value}}>
                                                        {{option.text}}
                                                    </option>
                                                {{/each}}
                                            </select>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    {{/if}}
                </div>

            </div>
        {{/if}}
        {{!-- Component selection page --}}

        {{#if (eq page 'which')}}
            {{!-- TODO: At present, this entire page is unimplemented pending a tree display widget --}}
            <div>
                Adding contributor(s)
                {{displayContribNamesToAdd}}
                to {{node.title}}
            </div>

            <hr>

            <div style="margin-bottom:10px;">
                You can also add the contributor(s) to any components on which you are an admin.
            </div>

            <div>
                Select:&nbsp;
                <a class="text-bigger" data-bind="click:selectAllNodes">Select all</a>
                &nbsp;|&nbsp;
                <a class="text-bigger" data-bind="click:selectNoNodes">Select none</a>
            </div>
            <div class="tb-row-titles">
                <div style="width: 100%" data-tb-th-col="0" class="tb-th">
                    <span class="m-r-sm"></span>
                </div>
            </div>
            <div class="osf-treebeard">
                <div id="addContributorsTreebeard">
                    <div class="spinner-loading-wrapper">
                        <div class="logo-spin logo-md"></div>
                        <p class="m-t-sm fg-load-message"> Loading projects and components...  </p>
                    </div>
                </div>
            </div>
        {{/if}}

        {{!-- Invite user page --}}
        {{#if (eq page 'invite')}}
            {{!-- TODO: This creates unregistered contribs, which is blocked pending OSF changes. Implement/ convert later --}}
            <form class='form'>
                <div class="form-group">
                    <label for="inviteUserName">Full Name</label>
                    <input type="text" class='form-control' id="inviteName"
                        placeholder="Full name" data-bind='value: inviteName, valueUpdate: "input"'>
                </div>
                <div class="form-group">
                    <label for="inviteUserEmail">Email</label>
                    <input type="email" class='form-control' id="inviteUserEmail"
                            placeholder="Email" data-bind='value: inviteEmail' autofocus>
                </div>
                <div class="help-block">
                    <p>We will notify the user that they have been added to your project.</p>
                    <p class='text-danger' data-bind='text: inviteError'></p>
                </div>
            </form>
        {{/if}}
    {{/bs-modal-body}}

    {{#bs-modal-footer as |footer|}}
        <button class="btn btn-default" {{action 'close' target=footer}}>Cancel</button>

        {{#if (and contribsToAdd (eq page 'whom'))}}
            {{!-- {{#if node.children}}
                TODO: suppress "select child components" page until treebeard equivalent available. Also, children check should not require server call
                <button class="btn btn-primary" {{action 'selectPage' 'which'}}>Next</button>
            {{else}}  --}}
            <button class="btn btn-success" {{action 'submitContributors'}}>Add</button>
            {{!-- {{/if}} --}}
        {{/if}}

        {{#if (eq page 'which')}}
            <button class="btn btn-primary" {{action 'selectPage' 'whom'}}>Back</button>
            <button class="btn btn-success" {{action 'submitContributors'}}>Add</button>
        {{/if}}

        {{#if (eq page 'invite')}}
            <button class="btn btn-primary" {{action 'selectPage' 'whom'}}>Back</button>
            <button class="btn btn-success" {{action 'submitInvite'}} type="submit">Add</button>
        {{/if}}
    {{/bs-modal-footer}}
{{/bs-modal}}
