{{!< default}}

{{#author}}
<header id="homepage-hero"
	{{#if cover}}
	style="background-image: url({{cover}});"
	{{else}}
		{{#if @blog.cover}}
		style="background-image: url({{@blog.cover}});"
		{{else}}
		style="background-image: url('{{asset "images/cover.jpg"}}');"
		{{/if}}
	{{/if}}
>
	<div class="title-container">

		<h1 class="blog-title">{{name}}</h1>
		<p class="blog-description">{{bio}}</p>

		<ul class="homepage-links">
			<li><a href="#home-latest-post" id="blog">My Posts</a></li>

			{{#if location}}
			<li><a href="https://www.google.com/maps?hl=en&q={{location}}" target="_blank">{{location}}</a></li>
			{{/if}}

			{{#if website}}
			<li><a href="{{website}}" target="_blank">Website</a></li>
			{{/if}}

			{{#if email}}
			<li><a href="mailto:{{email}}">Email</a></li>
			{{/if}}

			<li><a href="{{@blog.url}}">Home</a></li>
		</ul>
	</div>

</header>
{{/author}}

<main id="home-latest-post">
	{{#foreach posts}}
		{{> excerpt}}
	{{/foreach}}

	{{pagination}}
</main>