{{!< default}}

<header class="regular blogrollpage" 
	{{#if @blog.cover}}
	style="background-image: url({{@blog.cover}});"
	{{else}}
	style="background-image: url('{{asset "images/cover.jpg"}}');"
	{{/if}}
>
	{{> nav-container}}

	<div class="title-container">
		<h1 class="blogrollpage-title">{{tag.name}}</h1>
		<h3 class="post-meta">
			{{#if tag.description}}
                {{tag.description}}
            {{else}}
                A collection of posts
            {{/if}}
		</h3>
	</div>
</header>

<main>
	{{#foreach posts}}
		{{> excerpt}}
	{{/foreach}}

	{{pagination}}
</main>